body {
  background: #f4f5fa;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1 {
  font-size: 30px;
  margin: 0;
}

h2 {
  font-size: 24px;
  margin: 0;
}

h3 {
  font-size: 20px;
  margin: 0;
}

h4 {
  font-size: 16px;
  margin: 0;
}

p {
  font-size: 14px;
  margin: 0;
}

h6 {
  font-size: 40px;
}

.text-black {
  color: #001737;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-400 {
  font-weight: 400;
}

.text-small-12px {
  font-size: 12px;
}

.text-small-6px {
  font-weight: 2px;
}

.icon-font-size {
  font-size: 22px;
}

.badge {
  font-weight: normal;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.border-shadow {
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  line-height: 20px;
}

.card-body {
  padding: 13px 15px;
}

.card {
  border-radius: 7px;
}

header .header-top {
  background: #844fc1;
}

header .header-top .header-top-content {
  background: #ffffff;
}

header .header-top .header-top-content img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgba(230, 230, 243, 0.88);
}

header .header-top span {
  font-size: 20px;
}

header .header-bottom {
  background: #00c8bf;
}

header .header-bottom a:hover {
  background: #00b3aa;
  color: inherit;
}

header .header-bottom span {
  font-size: 20px;
}

header .header-bottom .navbar {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header .header-bottom .navbar .navbar-left a {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding: 12px 20px;
}

header .header-bottom .navbar .navbar-middle a {
  padding: 15px 10px;
}

header .header-bottom .navbar form.search input[type=text] {
  padding: 6px;
  font-size: 15px;
  float: left;
  width: 80%;
  background: #ffffff;
  border: none;
}

header .header-bottom .navbar form.search button {
  float: left;
  width: 15%;
  padding: 6px;
  background: #dc3545;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

header .header-bottom .navbar ::-webkit-input-placeholder {
  color: #a5abcc;
}

header .header-bottom .navbar :-ms-input-placeholder {
  color: #a5abcc;
}

header .header-bottom .navbar ::-ms-input-placeholder {
  color: #a5abcc;
}

header .header-bottom .navbar ::placeholder {
  color: #a5abcc;
}

header .header-bottom .navbar .margin-left {
  padding-left: 475px;
}

.sidebar {
  width: 250px;
  padding: 26px 7px;
}

.sidebar .icon-color-font {
  color: #6c7293;
  font-size: 18px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li a {
  display: block;
}

.sidebar ul li a span {
  display: inline-block;
}

.sidebar ul li a p {
  color: #001737;
}

.sidebar ul li a:hover {
  background: #f7f8fc;
  color: inherit;
}

.sidebar ul .sidebar-list-padding {
  padding: 10px 12px;
}

.sidebar ul .sidebar-list-padding .margin-badge {
  margin-left: 31px;
}

.card-text-color-grey p {
  color: #a5abcc;
}

.card-monthly-increase ul {
  list-style-type: none;
}

.card-monthly-increase ul li {
  float: left;
  position: relative;
}

.card-monthly-increase ul li:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50px;
}

.card-monthly-increase ul li:nth-child(1):before {
  background: #00c8bf;
}

.card-monthly-increase ul li:nth-child(2):before {
  background: #a43cda;
}

.card-doughchart ul {
  list-style-type: none;
}

.card-doughchart ul li {
  position: relative;
}

.card-doughchart ul li:before {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  width: 10px;
  height: 10px;
  background: #a43cda;
  border-radius: 50px;
}

.card-doughchart ul li:nth-child(1):before {
  background: #e6b8ff;
}

.card-doughchart ul li:nth-child(2):before {
  background: #d077ff;
}

.card-overall-sales .down-arrow {
  color: #6c7293;
}

.card-overall-sales .bottom-border {
  border-bottom: 1px solid rgba(230, 230, 243, 0.88);
}

.card-overall-sales .bottom-border-extend {
  border-bottom: 1px solid rgba(230, 230, 243, 0.88);
  margin: 0px -20px;
}

.card-overall-sales .row-1 {
  color: #a5abcc;
}

.card-overall-sales .row-3 {
  color: #21bf06;
}

.card-overall-sales .red {
  color: #dc3545;
}

.card-newsletter {
  background: -webkit-gradient(linear, left top, left bottom, from(#fad961), to(#f76b1c));
  background: linear-gradient(#fad961, #f76b1c);
}

.card-newsletter h3 {
  color: #ffffff;
}

.card-newsletter .btn-light {
  display: block;
  border-radius: 20px;
  padding: 10px 60px;
  margin: auto;
}

.card-newsletter .btn-danger {
  display: block;
  border-radius: 20px;
  padding: 10px 40px;
  margin: auto;
}

.card-profile {
  background: -webkit-gradient(linear, left top, left bottom, from(#3023ae), to(#c86dd7));
  background: linear-gradient(#3023ae, #c86dd7);
  color: #ffffff;
}

.card-profile .bottom-border {
  border-bottom: 1px solid rgba(230, 230, 243, 0.33);
}

.card-profile .profile-image {
  border: 4px dashed rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  padding: 12px;
}

.card-total .icon-style {
  font-size: 30px;
  color: #6c7293;
}

.card-table .btn-success {
  background: #21bf06;
}

.card-table .btn-success:hover {
  background: #1cac06;
}

.card-table .btn-danger {
  background: #dc3545;
}

.card-table .btn-danger:hover {
  background: #c32232;
}

.padding-reports {
  padding: 0px 0px 0px 36px;
}

.dropdown-menu {
  background-color: #844fc1;
  font-size: 14px;
  padding: 0;
}

.dropdown-menu a:hover {
  background-color: #6f3caa;
  background-image: none;
}

.dot {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #dc3545;
  border-radius: 50px;
  top: 2px;
  right: 0px;
}

.position-relative {
  position: relative;
}

.dot2 {
  top: 1px;
  right: 1px;
  width: 9px;
  height: 9px;
}

.padding-dot2 {
  padding: 0px 0px 0px 3px;
}

.sidebar a[aria-expanded="false"] .mdi-minus {
  display: none;
}

.sidebar a[aria-expanded="true"] .mdi-plus {
  display: none;
}

.sidebar a[aria-expanded="true"] .mdi-minus {
  display: block;
}

.mdi-chev-right {
  font-size: 10px;
}

.mdi-chev-right span {
  display: block;
}
/*# sourceMappingURL=assignment7.css.map */