$colors: ( voilet: #844fc1, grey: #a5abcc, red: #dc3545, dark-grey: #6c7293, green: #21bf06, dark-green: #1cac06, dark-red: #c32232, white-dark: #f4f5fa, blue-dark: #00c8bf, white: #ffffff, black-dark: #001737);
body {
    background: map-get($colors, white-dark);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 30px;
    margin: 0;
}

h2 {
    font-size: 24px;
    margin: 0;
}

h3 {
    font-size: 20px;
    margin: 0;
}

h4 {
    font-size: 16px;
    margin: 0;
}

p {
    font-size: 14px;
    margin: 0;
}

h6 {
    font-size: 40px;
}

.text-black {
    color: #001737;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-400 {
    font-weight: 400;
}

.text-small-12px {
    font-size: 12px;
}

.text-small-6px {
    font-weight: 2px;
}

.icon-font-size {
    font-size: 22px;
}

.badge {
    font-weight: normal;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.border-shadow {
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    line-height: 20px;
}

.card-body {
    padding: 13px 15px;
}

.card {
    border-radius: 7px;
}

header {
    .header-top {
        background: map-get($colors, voilet);
        .header-top-content {
            background: map-get($colors, white);
            img {
                width: 40px;
                height: 40px;
                border-radius: 5px;
                border: 1px solid rgba(230, 230, 243, 0.88)
            }
        }
        span {
            font-size: 20px;
        }
    }
    .header-bottom {
        background: map-get($colors, blue-dark);
        a:hover {
            background: rgb(0, 179, 170);
            color: inherit;
        }
        span {
            font-size: 20px;
        }
        .navbar {
            justify-content: flex-start;
            .navbar-left a {
                border-right: 1px solid rgba(255, 255, 255, 0.3);
                padding: 12px 20px;
            }
            .navbar-middle a {
                padding: 15px 10px;
            }
            form.search input[type=text] {
                padding: 6px;
                font-size: 15px;
                float: left;
                width: 80%;
                background: #ffffff;
                border: none;
            }
            form.search button {
                float: left;
                width: 15%;
                padding: 6px;
                background: map-get($colors, red);
                color: white;
                font-size: 15px;
                border: none;
                cursor: pointer;
            }
             ::placeholder {
                color: map-get($colors, grey)
            }
            .margin-left {
                padding-left: 475px;
            }
        }
    }
}

.sidebar {
    width: 250px;
    padding: 26px 7px;
    .icon-color-font {
        color: map-get($colors, dark-grey);
        font-size: 18px;
    }
    ul {
        list-style-type: none;
        li a {
            display: block;
            span {
                display: inline-block;
            }
            p {
                color: #001737;
            }
        }
        li a:hover {
            background: #f7f8fc;
            color: inherit;
        }
        .sidebar-list-padding {
            padding: 10px 12px;
            .margin-badge {
                margin-left: 31px;
            }
        }
    }
}

.card-text-color-grey {
    p {
        color: map-get($colors, grey);
    }
}

.card-monthly-increase {
    ul {
        list-style-type: none;
        li {
            float: left;
            position: relative;
        }
        li:before {
            content: "";
            position: absolute;
            top: 6px;
            left: 0;
            width: 10px;
            height: 10px;
            background: red;
            border-radius: 50px;
        }
        li:nth-child(1):before {
            background: #00c8bf;
        }
        li:nth-child(2):before {
            background: #a43cda;
        }
    }
}

.card-doughchart {
    ul {
        list-style-type: none;
        li {
            position: relative;
        }
        li:before {
            content: "";
            position: absolute;
            top: 13px;
            left: 0;
            width: 10px;
            height: 10px;
            background: #a43cda;
            border-radius: 50px;
        }
        li:nth-child(1):before {
            background: #e6b8ff;
        }
        li:nth-child(2):before {
            background: #d077ff;
        }
    }
}

.card-overall-sales {
    .down-arrow {
        color: map-get($colors, dark-grey);
    }
    .bottom-border {
        border-bottom: 1px solid rgba(230, 230, 243, 0.88);
    }
    .bottom-border-extend {
        border-bottom: 1px solid rgba(230, 230, 243, 0.88);
        margin: 0px -20px;
    }
    .row-1 {
        color: map-get($colors, grey);
    }
    .row-3 {
        color: map-get($colors, green);
    }
    .red {
        color: map-get($colors, red);
    }
}

.card-newsletter {
    background: linear-gradient(#fad961, #f76b1c);
    h3 {
        color: map-get($colors, white)
    }
    .btn-light {
        display: block;
        border-radius: 20px;
        padding: 10px 60px;
        margin: auto;
    }
    .btn-danger {
        display: block;
        border-radius: 20px;
        padding: 10px 40px;
        margin: auto;
    }
}

.card-profile {
    background: linear-gradient(#3023ae, #c86dd7);
    color: map-get($colors, white);
    .bottom-border {
        border-bottom: 1px solid rgba(230, 230, 243, 0.33);
    }
    .profile-image {
        border: 4px dashed rgba(255, 255, 255, 0.5);
        border-radius: 50px;
        padding: 12px;
    }
}

.card-total {
    .icon-style {
        font-size: 30px;
        color: map-get($colors, dark-grey);
    }
}

.card-table {
    .btn-success {
        background: map-get($colors, green);
    }
    .btn-success:hover {
        background: map-get($colors, dark-green);
    }
    .btn-danger {
        background: map-get($colors, red);
    }
    .btn-danger:hover {
        background: map-get($colors, dark-red);
    }
}

.padding-reports {
    padding: 0px 0px 0px 36px;
}

.dropdown-menu {
    background-color: #844fc1;
    font-size: 14px;
    padding: 0;
}

.dropdown-menu a:hover {
    background-color: #6f3caa;
    background-image: none;
}

.dot {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: map-get($colors, red);
    border-radius: 50px;
    top: 2px;
    right: 0px;
}

.position-relative {
    position: relative;
}

.dot2 {
    top: 1px;
    right: 1px;
    width: 9px;
    height: 9px;
}

.padding-dot2 {
    padding: 0px 0px 0px 3px;
}

.sidebar a[aria-expanded="false"] .mdi-minus {
    display: none;
}

.sidebar a[aria-expanded="true"] .mdi-plus {
    display: none;
}

.sidebar a[aria-expanded="true"] .mdi-minus {
    display: block;
}

.mdi-chev-right {
    font-size: 10px;
}

.mdi-chev-right span {
    display: block;
}